*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Istok Web';
    margin: 0 auto;
}

.header {
    padding: 17px 0 12px 0;
    max-height: 1442px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(19, 160, 216)
}

.navigation {
    display: flex;
    gap: 60px;
    justify-content: space-around;
}

.navigation a {
    font-family: Istok Web;
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #37474F;
}

/* buenos-aires */
.buenos-aires {
    max-width: 1442px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 185px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    font-family: Istok Web;
    font-size: 64px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.card {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 116px;
    margin-bottom: 70px;
}

.place {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 116px;
    margin-bottom: 70px;
}

.place img {
    width: 327px;
    height: 326px;
    border-radius: 20px;
}

/* reason */
.reason {
    display: flex;
    flex-direction: column;
    background-color: #BBDEFB;
    padding: 66px 0 150px 0;
}

.food {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-bottom: 133px;
}

.about-food {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    max-width: 569px;
    width: 100%;
}

.about-food h2 {
    font-family: K2D;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.about-food h3 {
    font-family: K2D;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;

}

.about-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    max-width: 569px;
    width: 100%;
}

.about-bar h2 {
    font-family: K2D;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.about-bar h3 {
    font-family: K2D;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-bottom: 201px;
}

.about-hotel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    max-width: 569px;
    width: 100%;
}

.about-hotel h2 {
    font-family: K2D;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.about-hotel h3 {
    font-family: K2D;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.hotel img {
    width: 529px;
    height: 434px;
    border-radius: 20px;
    border: 5px;
    border: solid;
    border-color: #000000;
    box-shadow: 4px 4px #93aec5;
}

.title1 {
    max-width: 1214px;
    width: 100%;
}

h1:hover {
    text-decoration: underline;
    text-decoration-color:rgb(19, 160, 216);
    text-decoration-thickness: 3px;
}

.title1 h1 {
    font-family: K2D;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-left: 113px;
}

/* social media */
.social-media {
    display: flex;
    flex-direction: column;
}

.social-media h1 {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    font-family: K2D;
    font-size: 65px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;

}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 218px;
}

/* footer */
.footer {
    margin-top: 305px;
    background-color: #BBDEFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 113px 101px 123px;
}

.contact {
    font-family: K2D;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.create {
    font-family: K2D;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.turismo:hover {
    text-decoration: underline;
    text-decoration-color: rgb(19, 160, 216);
    text-decoration-skip-ink: none;
}

.subscribe:hover {
    text-decoration: underline;
    text-decoration-color: rgb(19, 160, 216)
}

.contact1:hover {
    text-decoration: underline;
    text-decoration-color: rgb(19, 160, 216)
}
